# Enable mouse control (clickable windows, panes, resizable panes)
set -g mouse on

set-environment -g TMUX_PLUGIN_MANAGER_PATH '~/.config/tmux/plugins/'
set -g @plugin 'tmux-plugins/tpm'
set -g @plugin 'tmux-plugins/tmux-sensible'

# Pane navigation (h/j/k/l), resize (H/J/K/L), splits (|/-) with cwd inheritance.
set -g @plugin 'tmux-plugins/tmux-pain-control'

run '~/.tmux/plugins/tpm/tpm'
